<!DOCTYPE html>
<html>
<head>
  <title>Locafe</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
		<%= render 'layouts/header' %>
		<%= yield %>
		</div>
	</div>
</body>
</html>
