<!DOCTYPE html>
<html>
<head>
  <title>Coffee.local.jam <%= yield :title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script type="text/javascript" src="//www.hellobar.com/hellobar.js"></script>
	<script type="text/javascript">
	    new HelloBar(40595,55018);
	</script>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<%= render 'layouts/header' %>
			</div>
		</div>
		<div class="content">
			<div class="row">
			<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
